<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student-CRUD_7pm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>com.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/addStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListController</display-name>
    <servlet-name>StudentListController</servlet-name>
    <servlet-class>com.controller.StudentListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListController</servlet-name>
    <url-pattern>/StudentListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CountFilter</display-name>
    <filter-name>CountFilter</filter-name>
    <filter-class>com.filter.CountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CountFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Counting</display-name>
    <servlet-name>Counting</servlet-name>
    <servlet-class>com.controller.Counting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Counting</servlet-name>
    <url-pattern>/Counting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoController</display-name>
    <servlet-name>DemoController</servlet-name>
    <servlet-class>com.controller.DemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoController</servlet-name>
    <url-pattern>/DemoController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>com.filter.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/DemoController</url-pattern>
  </filter-mapping>
</web-app>